[flake8]
max-line-length = 100
inline-quotes = "
multiline-quotes = "
ignore = E203,W503,F403,E266
exclude = build, _build, .ipynb_checkpoints, .git, .venv
per-file-ignores = 
    **/__init__.py:F401
    **/__main__.py:F401
    test_datajoint_tools.py:F811

