[tool.poetry]
name = "pyrfume"
version = "0.13.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.6.1"
dask = {extras = ["bag"], version = "^2.17.0"}
deap = "^1.3.1"
ipython = "^7.14.0"
ipywidgets = "^7.5.1"
matplotlib = "^3.2.1"
missingpy = "^0.2.0"
mordred = "^1.2.0"
numpy = "^1.18.4"
pandas = "^1.0.3"
plotly = "^4.8.0"
pubchempy = "^1.0.4"
quantities = "^0.12.4"
rickpy = "^0.1.4"
scipy = "^1.4.1"
sympy = "^1.6"
scikit-learn = "^0.23.1"
tqdm = "^4.46.0"
eden-kernel = {git = "https://github.com/fabriziocosta/EDeN.git"}
pysmiles = "^1.0.0"
networkx = "^2.4"
fancyimpute = "^0.5.4"
black = "^19.10b0"
isort = "^4.3.21"
flake8 = "^3.8.2"
datajoint = "^0.12.6"

[tool.poetry.dev-dependencies]

[tool.black]
line-length = 100
target_version = ['py37']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
